doctype html
html(lang='en')
  head
    title kingDOM
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="description", content="This is a game experiment")
    meta(name="theme-color", content="#44c7f4")
    link(rel="icon", type="image/png", sizes="32x32", href="./favicon.png")
    link(rel="stylesheet" href="./style/base.scss")
  body
    script(src="./index.ts")