doctype html
html(lang='en')
  head
    title Game Experiments
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="description", content="This is a game experiment")
    meta(name="theme-color", content="#44c7f4")
    link(rel="stylesheet" href="./style/base.scss")
  body
    h1 Hello World
    canvas#render
    script(src="./index.ts")